
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> -->
<!-- <html> -->
<!-- <head> -->
<!--     <meta charset="utf-8"> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!--     <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
     
     
<!--     </head> -->
     <h2>Cadastrar Novo Episodio</h2>
    <div class="alert alert-danger alert-dismissible fade show"  ng-show="episodeForm.product.$required" topic="Something went wrong! You must set a product for this episode!">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
   
  </div>
  <!-- action="/upload/file" -->
      <form name="episodeForm" action="/upload/file" method="post" enctype="multipart/form-data"> 
            <div class="form-group">
  <label for="sel1">Selecione o Programa:</label>
  <select ng-model="show.name" ng-controller="ProductComboController"  name="showName" id="showName"  class="form-control" ng-required="true"> 
           <option value=""  disabled selected><span ng-style="color:LightGray;">Selecione um Programa</span></option>  
           <option ng-repeat="product in productsCombo" value="{{product.name}}">{{product.name}}</option>
  </select>
</div>
  <div class="form-group">
    <label for="topic">Titulo:</label>
    <input type="topic" name="topic" ng-model="show.topic" class="form-control" id="topic" ng-required="true">
  </div>
 <div class="form-group">
  <label for="synopsis">Descricao:</label>
  <textarea name="synopsis" ng-model="show.synopsis" class="form-control" rows="5" id="synopsis"></textarea>
</div>

<div ng-repeat="category in categoryCheckBox" class="form-check">
<!--   <label  class="form-check-label"  >   -->
<!--   value="{{category.name}}"  -->
    <input type="checkbox" class="form-check-input" name="categories" value="{{category.name}}" ng-model="show.category" >{{category.name}}</input>
<!--   </label> -->
</div>
<br/>
 <div class="form-group">
  <label for="comment">Inserir Audio:</label>
  <input id="my-file-selector" name="file" type="file" ng-model="show.file" class="form-control-file border" >  
</div>
  <button type="submit" class="btn btn-primary" ng-disabled="episodeForm.$invalid">Salvar</button>
</form>
<!-- </html> -->